@import "../../styles/variables.scss";
#Cart {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 0 20px;

    max-width: 800px;
    height: auto;
  }
  #products {
    height: max-content;
    padding: 20px;
    max-height: 100vh;

    overflow-y: auto;
    .productCard.cart {
      flex-direction: row;
      align-items: center;
      padding: 10px;
      width: 100%;
      min-height: 120px;
      margin-bottom: 20px;
      background: linear-gradient(to right, $neutral-color, $secondary-color);
      .product-details {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        padding: 0;
        .productCard__info {
          padding: 4px 12px;
          margin-top: unset;
          margin-left: 10px;
          min-width: 60%;
          min-height: 88px;
          border-radius: 10px;
          background: $neutral-color;
          p:first-of-type {
            word-break: break-all;
            overflow: hidden;
          }
        }
        .img-wrapper {
          padding: 24px 0;

          img {
            border-radius: 10px;
            max-height: 100px;
          }
        }
      }
      .product-cartOptions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        .units-available {
          margin: 0 10px;
          width: max-content;
        }
        input {
          width: 40px;
          height: 30px;
          text-align: center;
          margin: 0 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  #Cart {
    .content-wrapper {
      flex-direction: column;
    }
    #products {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-y: visible;
      margin: 0;
      .productCard.cart {
        flex-direction: column;
        margin: 20px 0;

        .product-details {
          width: 100%;
          margin-bottom: 10px;
          .productCard__info {
            min-width: 60%;
          }
        }
        .product-cartOptions {
          width: 100%;
          padding: 0;
          p:first-of-type {
            width: max-content;
          }
        }
      }
    }
  }
}
