@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 10px;
  border-radius: 14px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);

  background: linear-gradient(to top, $neutral-color, $secondary-color);
  &__image {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    padding-bottom: 0;
    height: 38%;
    p:first-of-type {
      padding-top: 5px;
      flex-grow: 1;
      font-size: 0.9em;
    }
    p:last-of-type {
      text-align: right;
      font-size: 1.4em;
    }
  }

  &__buttons {
    width: 100%;
    padding: 4px 10px;
    display: flex;
    justify-content: space-around;

    & > * {
      width: 40%;
      min-width: 80px;
      height: 30px;
      border: 1px solid black;
      text-align: center;
      background: white;
    }
    button,
    a {
      font-size: 0.8em;
      font-family: "Roboto", sans-serif;
      background: $primary-color;
      &:link,
      &:visited {
        color: black;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-radius: 8px;
    }
    button {
      border-radius: 8px;
    }
  }

  .img-wrapper {
    height: 50%;
    max-height: 50%;
  }
}
