@import "../../styles/variables.scss";
#Shop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .content-wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    background: $neutral-color;
    .categories,
    .priceRanges {
      background: white;
      margin-bottom: 10px;
      h2 {
        margin-bottom: 6px;
        padding: 2px 4px;
        width: 100%;
        font-size: 1.2em;
        background: $secondary-color-light;
      }
      &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 4px;
      }
    }
  }

  &__products {
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    &::after {
      content: "";
      flex: auto;
    }
    .productCard {
      min-width: 240px;
      width: 240px;
      height: 360px;
      margin: 40px;
    }
  }
}

@media only screen and (max-width: $tablet) {
  #Shop {
    .content-wrapper {
      width: 100%;
      flex-direction: column;
    }

    &__filter {
      width: 100%;
      .categories,
      .priceRanges {
        &__option {
          font-size: 14px;
        }
      }
    }
    &__products {
      flex-direction: column;
      align-items: center;
      width: 100%;
      .productCard {
        margin: 20px 10px;
      }
    }
  }
}
