@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#Home {
  section {
    height: auto;
    padding: 10px;
  }

  section:not(#Search) {
  }

  section:nth-child(odd) {
    background: $secondary-color;
  }
  section:nth-child(even) {
    background: $neutral-color;
  }

  #newest_products {
    .display__heading {
      color: $secondary-color;
    }
    .stripe {
      background: $neutral-color;
    }
    @media only screen and (max-width: $desktop) {
      .display__heading {
        margin-top: 10px;
        color: $neutral-color;
      }

      .stripe {
        display: none;
      }
    }
  }
  #popular_products {
    .display__heading {
      color: $neutral-color;
    }
    .stripe {
      background: $secondary-color;
    }
    @media only screen and (max-width: $desktop) {
      .display__heading {
        margin-top: 10px;
        color: $secondary-color;
      }
      .stripe {
        display: none;
      }
    }
  }

  #oval {
    position: absolute;

    top: 300px;
    right: 2%;
    height: 240px;
    width: 600px;
    border-radius: 50% /50%;
    transform: rotate(-30deg) skewX(45deg);
    background: white;
  }

  &__banner {
    height: 75vh !important;
    min-height: 700px !important;
    padding: 40px 10px 10px 40px !important;
    h1 {
      background-image: -webkit-linear-gradient(
        left,
        #252525 0%,
        #252525 20%,
        #252525 40%,
        $primary-color 40%,
        $primary-color 80%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h2 {
      position: relative;
      transform: translate(-105%, 6%);
      min-width: max-content;
      font-size: 1.28em;
    }
  }

  .productCard {
    min-width: 240px;
    width: 240px;
    height: 360px;
    &--showcase {
      position: absolute;
      top: 240px;
      max-width: 240px;
      min-height: 300px;
      height: 45vh;

      &::before {
        position: absolute;
        background: $primary-color;
        padding: 10px 6px;
        border-radius: 20px;
        right: 40vw;
        width: 240px;
        font-family: "Roboto", sans-serif;
        font-size: 2em;
        content: "Canada's most trusted fictitious mobile phone retailer";
      }
    }
  }

  #Search {
    padding-bottom: 30px;
    form {
      width: 60%;
    }
    .display {
      height: auto;
      margin-top: 40px;
      width: 60%;
      min-width: 240px;
      background: white;
      border-radius: 20px;
      flex-direction: column;

      .productCard {
        min-height: 400px;
        min-width: 300px;
      }
    }
  }

  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__heading {
      position: relative;
      left: 10px;
      padding-left: 40px;
      min-width: 10vw;
      font-size: 2em;
      z-index: 1;
    }
    .stripe {
      position: absolute;
      height: 200px;
      width: 90vw;
      transform: translate(-20px);
      margin-left: 5vw;
      border-radius: 50px;
      z-index: 0;
    }
    .productCard {
      margin: 20px;
      z-index: 1;
    }
  }

  @media only screen and (max-width: $tablet) {
    section:not(#Search) {
      min-height: 480px;
    }
    #oval {
      display: none;
      height: 300px;
      width: 300px;
      transform: unset;
      right: 3%;
      top: 180px;
    }
    &__banner {
      padding: 0 !important;
      min-height: 640px !important;

      h1,
      h2 {
        transform: scale(0.8) translate(-20px, -40px);
      }
      h2 {
        left: -240px;
        top: 55px;
      }
    }

    .productCard {
      &--showcase {
        top: 260px;

        left: calc(50vw - 120px);
        height: 360px;
        &::before {
          position: absolute;
          top: -80px;
          left: -39px;
          width: max-content;

          border-radius: 0;
          font-size: 0.8em;

          text-align: center;
        }
      }
    }

    #Search {
      padding: 40px;

      text-align: center;
      form {
        flex-direction: column;
        justify-content: space-between;
        height: 160px;
        width: 90%;
        & > * {
          flex-grow: unset;
          height: 40px;
          width: 100%;
        }
      }
    }
    .display {
      flex-direction: column;
      &__heading {
        left: -24px;
        text-align: center;
      }
    }
  }

  @media only screen and (min-width: $tablet) {
    section:not(#Search) {
      min-height: 500px;
    }
    .display {
      flex-direction: column;
      height: auto;
      &__heading {
        left: -18px;
        text-align: center;
      }
    }

    .productCard {
      &--showcase {
        width: 270px;
        height: 360px;
        right: 16vw;
        &::before {
          width: 160px;
          font-size: 1.2em;
        }
      }
    }
  }
  @media only screen and (min-width: $desktop) {
    section:not(#Search) {
      min-height: 600px;
    }
    .display {
      flex-direction: row;
      &__heading {
        text-align: center;
      }
    }

    .productCard {
      &--showcase {
        width: 300px;
        height: 400px;
        &::before {
          padding: 10px 20px;
          right: 40vw;
          width: 240px;
          font-size: 2em;
        }
      }
    }
  }
}
