@import "../../styles/variables.scss";

#Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 70vw;
    max-width: 800px;
    &__form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .MuiFormControlLabel-root {
        margin: 20px 0;
      }
      button {
        margin-bottom: 20px;
      }
    }
    &__onboard {
      width: 20vw;

      margin: 40px;
    }

    &__form,
    &__onboard {
      max-width: 400px;
      min-width: 240px;
    }
  }
}

@media only screen and (max-width: $tablet) {
  #Signup {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      width: 90vw;
      margin: 20px;
      &__form {
        width: 90%;
      }
      &__onboard {
        min-width: 70%;

        text-align: center;
      }
    }
  }
}
