@import "./variables.scss";

// font-family: 'Roboto', sans-serif;
// font-family: 'Ubuntu', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body,
#App,
.page {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 40px);
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
a,
label {
  font-family: "Roboto", sans-serif;
}

h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 4em;
}

h2 {
}

ul {
  list-style: none;
}

.accent {
  color: $primary-color;
}

section {
  padding: 10px;
}

.banner {
  padding: 10px 14px;
}
