@mixin slide-in {
  animation: slide-in-from-left 1.5s;
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@mixin productCard {
}
