// Colors

$primary-color: #e9c46a;
$secondary-color: #2491c4;
$secondary-color-light: #abdff7;
$neutral-color: #ebebeb;
$accent-color: #f4a261;
$component-background-color: #ffffff;

// Breakpoints

$mobile: 440px;
$tablet: 720px;
$desktop: 1000px;
