#Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    height: 100%;
    input,
    select {
      height: 30px;
    }
    button {
      position: relative;
      top: 7px;
      height: 30px;
    }
  }
}
